/* sidebar.css */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    width: 100%;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    transition: 0.2s;
  }
  
  .sidebar ul li a:hover {
    background-color: #575757;
  }
  
  .toggle-button {
    position: fixed;
    top: 30px;
    left: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1001;
  }
  
  .toggle-button:hover {
    background-color: #575757;
  }
  
  .toggle-button.hidden {
    display: none;
  }
  